In [122]:
import requests
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import urllib.parse as urlparse
from urllib.parse import urlencode

In [123]:
toronto_DF = pd.read_csv('postalcode.csv')
display(toronto_DF)

,Borough,Postalcode,Neighbourhood,Latitude,Longitude
0,Central Toronto,M4N,Lawrence Park,43.728020,-79.388790
1,Central Toronto,M4P,Davisville North,43.712751,-79.390197
2,Central Toronto,M4R,North Toronto West,43.715383,-79.405678
3,Central Toronto,M4S,Davisville,43.704324,-79.388790
4,Central Toronto,M4T,"Moore Park, Summerhill East",43.689574,-79.383160
...,...,...,...,...,...
98,York,M6C,Humewood-Cedarvale,43.693781,-79.428191
99,York,M6E,Caledonia-Fairbanks,43.689026,-79.453512
100,York,M6M,"Del Ray, Mount Dennis, Keelsdale and Silverthorn",43.691116,-79.476013
101,York,M6N,"Runnymede, The Junction North",43.673185,-79.487262
102,York,M9N,Weston,43.706876,-79.518188

In [124]:
postal_codes = toronto_DF['Postalcode'].tolist()

In [125]:
len(toronto_DF)

103

In [126]:
postal_codes

['M4N',
 'M4P',
 'M4R',
 'M4S',
 'M4T',
 'M4V',
 'M5N',
 'M5P',
 'M5R',
 'M4W',
 'M4X',
 'M4Y',
 'M5A',
 'M5B',
 'M5C',
 'M5E',
 'M5G',
 'M5H',
 'M5J',
 'M5K',
 'M5L',
 'M5S',
 'M5T',
 'M5V',
 'M5X',
 'M6G',
 'M5W',
 'M4E',
 'M4K',
 'M4L',
 'M4M',
 'M7Y',
 'M4B',
 'M4C',
 'M4G',
 'M4H',
 'M4J',
 'M8V',
 'M8W',
 'M8X',
 'M8Y',
 'M8Z',
 'M9A',
 'M9B',
 'M9C',
 'M9P',
 'M9R',
 'M9V',
 'M9W',
 'M7R',
 'M2H',
 'M2J',
 'M2K',
 'M2L',
 'M2M',
 'M2N',
 'M2P',
 'M2R',
 'M3A',
 'M3B',
 'M3C',
 'M3H',
 'M3J',
 'M3K',
 'M3L',
 'M3M',
 'M3N',
 'M4A',
 'M5M',
 'M6A',
 'M6B',
 'M6L',
 'M9L',
 'M9M',
 'M7A',
 'M1B',
 'M1C',
 'M1E',
 'M1G',
 'M1H',
 'M1J',
 'M1K',
 'M1L',
 'M1M',
 'M1N',
 'M1P',
 'M1R',
 'M1S',
 'M1T',
 'M1V',
 'M1W',
 'M1X',
 'M6H',
 'M6J',
 'M6K',
 'M6P',
 'M6R',
 'M6S',
 'M6C',
 'M6E',
 'M6M',
 'M6N',
 'M9N']

In [127]:
# Assign the URL to a variable

url = "https://www12.statcan.gc.ca/census-recensement/2021/dp-pd/prof/details/page.cfm?Lang=E&SearchText=M1C&DGUIDlist=2021A0011M1C&GENDERlist=1,2,3&STATISTIClist=1,4&HEADERlist=0"


# use the urlopen function to open the webpage
html = urllib.request.urlopen(url)

# show object html
html

In [128]:
# Create the BeautifulSoup object

html_to_parse = BeautifulSoup(html, "html.parser")

In [129]:
# create a list of tables.  There is only 1 table in this webpage

tables = html_to_parse.find_all("table")
print(f"Number of tables found: {len(tables)}")

Number of tables found: 1

In [130]:
df = pd.DataFrame(columns = ['postal_code', 'data', 'value'])

In [131]:
import urllib.request
from urllib.parse import urlparse, urlencode, parse_qsl, urlunparse
from bs4 import BeautifulSoup
import pandas as pd

# Example dataframe to store the results
population_by_postal = pd.DataFrame(columns=["Postalcode", "Title", "Population"])


# Loop through the postal codes
for i in postal_codes:
    url = "https://www12.statcan.gc.ca/census-recensement/2021/dp-pd/prof/details/page.cfm?Lang=E"
    params = {
        'SearchText': i,
        'DGUIDlist': '2021A0011'+i
    }

    # this part switches up the postal code parameter in the url
    url_parts = list(urlparse(url))
    query = dict(parse_qsl(url_parts[4]))
    query.update(params)
    
    url_parts[4] = urlencode(query)
    query_url = urlunparse(url_parts)
    
    try:
        # Open the URL and parse the HTML content
        html = urllib.request.urlopen(query_url)
        html_to_parse = BeautifulSoup(html, "html.parser")
        
        # Find all tables on the page
        tables = html_to_parse.find_all("table")
        
        # Check if any tables were found
        if len(tables) > 0:
            print(f"Number of tables found: {len(tables)}")
            title = f"2021A0011{i} - Population, 2021 - Counts - Total"
            
            # Find the relevant <td> with the title
            td = tables[0].find(attrs={"title": title})
            
            if td:
                population = float(td.text.replace(",", ""))  # Convert population to a number
                print(f"Postalcode: {i}, Population: {population}")
                population_by_postal.loc[len(population_by_postal.index)] = [i, title, population]
            else:
                print(f"Title not found for postal code: {i}")
        else:
            print(f"No tables found for postal code: {i}")
    
    except Exception as e:
        print(f"Error processing postal code {i}: {e}")

# Display the dataframe
print(population_by_postal)

Number of tables found: 1
Postalcode: M4N, Population: 16058.0
Number of tables found: 1
Postalcode: M4P, Population: 25057.0
Number of tables found: 1
Postalcode: M4R, Population: 11909.0
Number of tables found: 1
Postalcode: M4S, Population: 30754.0
Number of tables found: 1
Postalcode: M4T, Population: 10332.0
Number of tables found: 1
Postalcode: M4V, Population: 19273.0
Number of tables found: 1
Postalcode: M5N, Population: 16154.0
Number of tables found: 1
Postalcode: M5P, Population: 19791.0
Number of tables found: 1
Postalcode: M5R, Population: 26197.0
Number of tables found: 1
Postalcode: M4W, Population: 15296.0
Number of tables found: 1
Postalcode: M4X, Population: 19896.0
Number of tables found: 1
Postalcode: M4Y, Population: 36319.0
Number of tables found: 1
Postalcode: M5A, Population: 48978.0
Number of tables found: 1
Postalcode: M5B, Population: 17422.0
Number of tables found: 1
Postalcode: M5C, Population: 3149.0
Number of tables found: 1
Postalcode: M5E, Population: 11779.0
Number of tables found: 1
Postalcode: M5G, Population: 9751.0
Number of tables found: 1
Postalcode: M5H, Population: 3248.0
Number of tables found: 1
Postalcode: M5J, Population: 16879.0
No tables found for postal code: M5K
No tables found for postal code: M5L
Number of tables found: 1
Postalcode: M5S, Population: 17074.0
Number of tables found: 1
Postalcode: M5T, Population: 17903.0
Number of tables found: 1
Postalcode: M5V, Population: 59912.0
No tables found for postal code: M5X
Number of tables found: 1
Postalcode: M6G, Population: 30600.0
No tables found for postal code: M5W
Number of tables found: 1
Postalcode: M4E, Population: 25473.0
Number of tables found: 1
Postalcode: M4K, Population: 30913.0
Number of tables found: 1
Postalcode: M4L, Population: 32218.0
Number of tables found: 1
Postalcode: M4M, Population: 25052.0
No tables found for postal code: M7Y
Number of tables found: 1
Postalcode: M4B, Population: 18612.0
Number of tables found: 1
Postalcode: M4C, Population: 46440.0
Number of tables found: 1
Postalcode: M4G, Population: 19598.0
Number of tables found: 1
Postalcode: M4H, Population: 18698.0
Number of tables found: 1
Postalcode: M4J, Population: 35128.0
Number of tables found: 1
Postalcode: M8V, Population: 44144.0
Number of tables found: 1
Postalcode: M8W, Population: 22381.0
Number of tables found: 1
Postalcode: M8X, Population: 10624.0
Number of tables found: 1
Postalcode: M8Y, Population: 21986.0
Number of tables found: 1
Postalcode: M8Z, Population: 19312.0
Number of tables found: 1
Postalcode: M9A, Population: 36642.0
Number of tables found: 1
Postalcode: M9B, Population: 33236.0
Number of tables found: 1
Postalcode: M9C, Population: 38725.0
Number of tables found: 1
Postalcode: M9P, Population: 20645.0
Number of tables found: 1
Postalcode: M9R, Population: 33783.0
Number of tables found: 1
Postalcode: M9V, Population: 53878.0
Number of tables found: 1
Postalcode: M9W, Population: 40977.0
No tables found for postal code: M7R
Number of tables found: 1
Postalcode: M2H, Population: 23396.0
Number of tables found: 1
Postalcode: M2J, Population: 61761.0
Number of tables found: 1
Postalcode: M2K, Population: 25377.0
Number of tables found: 1
Postalcode: M2L, Population: 11274.0
Number of tables found: 1
Postalcode: M2M, Population: 31915.0
Number of tables found: 1
Postalcode: M2N, Population: 75100.0
Number of tables found: 1
Postalcode: M2P, Population: 7546.0
Number of tables found: 1
Postalcode: M2R, Population: 40581.0
Number of tables found: 1
Postalcode: M3A, Population: 34361.0
Number of tables found: 1
Postalcode: M3B, Population: 12880.0
Number of tables found: 1
Postalcode: M3C, Population: 39616.0
Number of tables found: 1
Postalcode: M3H, Population: 38416.0
Number of tables found: 1
Postalcode: M3J, Population: 26600.0
Number of tables found: 1
Postalcode: M3K, Population: 7865.0
Number of tables found: 1
Postalcode: M3L, Population: 19263.0
Number of tables found: 1
Postalcode: M3M, Population: 24906.0
Number of tables found: 1
Postalcode: M3N, Population: 40846.0
Number of tables found: 1
Postalcode: M4A, Population: 14589.0
Number of tables found: 1
Postalcode: M5M, Population: 25495.0
Number of tables found: 1
Postalcode: M6A, Population: 22380.0
Number of tables found: 1
Postalcode: M6B, Population: 28534.0
Number of tables found: 1
Postalcode: M6L, Population: 20156.0
Number of tables found: 1
Postalcode: M9L, Population: 11737.0
Number of tables found: 1
Postalcode: M9M, Population: 24245.0
Number of tables found: 1
Postalcode: M7A, Population: 5.0
Number of tables found: 1
Postalcode: M1B, Population: 65555.0
Number of tables found: 1
Postalcode: M1C, Population: 35642.0
Number of tables found: 1
Postalcode: M1E, Population: 48033.0
Number of tables found: 1
Postalcode: M1G, Population: 30894.0
Number of tables found: 1
Postalcode: M1H, Population: 23964.0
Number of tables found: 1
Postalcode: M1J, Population: 37002.0
Number of tables found: 1
Postalcode: M1K, Population: 48175.0
Number of tables found: 1
Postalcode: M1L, Population: 35833.0
Number of tables found: 1
Postalcode: M1M, Population: 23258.0
Number of tables found: 1
Postalcode: M1N, Population: 22976.0
Number of tables found: 1
Postalcode: M1P, Population: 45170.0
Number of tables found: 1
Postalcode: M1R, Population: 30467.0
Number of tables found: 1
Postalcode: M1S, Population: 37663.0
Number of tables found: 1
Postalcode: M1T, Population: 34607.0
Number of tables found: 1
Postalcode: M1V, Population: 50825.0
Number of tables found: 1
Postalcode: M1W, Population: 47070.0
Number of tables found: 1
Postalcode: M1X, Population: 14810.0
Number of tables found: 1
Postalcode: M6H, Population: 43730.0
Number of tables found: 1
Postalcode: M6J, Population: 32111.0
Number of tables found: 1
Postalcode: M6K, Population: 42110.0
Number of tables found: 1
Postalcode: M6P, Population: 39870.0
Number of tables found: 1
Postalcode: M6R, Population: 19349.0
Number of tables found: 1
Postalcode: M6S, Population: 34029.0
Number of tables found: 1
Postalcode: M6C, Population: 23997.0
Number of tables found: 1
Postalcode: M6E, Population: 37684.0
Number of tables found: 1
Postalcode: M6M, Population: 42148.0
Number of tables found: 1
Postalcode: M6N, Population: 40252.0
Number of tables found: 1
Postalcode: M9N, Population: 26059.0
   Postalcode                                             Title  Population
0         M4N  2021A0011M4N - Population, 2021 - Counts - Total     16058.0
1         M4P  2021A0011M4P - Population, 2021 - Counts - Total     25057.0
2         M4R  2021A0011M4R - Population, 2021 - Counts - Total     11909.0
3         M4S  2021A0011M4S - Population, 2021 - Counts - Total     30754.0
4         M4T  2021A0011M4T - Population, 2021 - Counts - Total     10332.0
..        ...                                               ...         ...
92        M6C  2021A0011M6C - Population, 2021 - Counts - Total     23997.0
93        M6E  2021A0011M6E - Population, 2021 - Counts - Total     37684.0
94        M6M  2021A0011M6M - Population, 2021 - Counts - Total     42148.0
95        M6N  2021A0011M6N - Population, 2021 - Counts - Total     40252.0
96        M9N  2021A0011M9N - Population, 2021 - Counts - Total     26059.0

[97 rows x 3 columns]

In [132]:
display(population_by_postal)

   Postalcode                                             Title  Population
0         M4N  2021A0011M4N - Population, 2021 - Counts - Total     16058.0
1         M4P  2021A0011M4P - Population, 2021 - Counts - Total     25057.0
2         M4R  2021A0011M4R - Population, 2021 - Counts - Total     11909.0
3         M4S  2021A0011M4S - Population, 2021 - Counts - Total     30754.0
4         M4T  2021A0011M4T - Population, 2021 - Counts - Total     10332.0
..        ...                                               ...         ...
92        M6C  2021A0011M6C - Population, 2021 - Counts - Total     23997.0
93        M6E  2021A0011M6E - Population, 2021 - Counts - Total     37684.0
94        M6M  2021A0011M6M - Population, 2021 - Counts - Total     42148.0
95        M6N  2021A0011M6N - Population, 2021 - Counts - Total     40252.0
96        M9N  2021A0011M9N - Population, 2021 - Counts - Total     26059.0

[97 rows x 3 columns]

In [133]:
population_by_postal.to_csv('population_by_postal.csv', index=False)

In [134]:
population_by_postal_sorted = population_by_postal.sort_values(by="Population", ascending=False)
display(population_by_postal_sorted)

   Postalcode                                             Title  Population
49        M2N  2021A0011M2N - Population, 2021 - Counts - Total     75100.0
69        M1B  2021A0011M1B - Population, 2021 - Counts - Total     65555.0
45        M2J  2021A0011M2J - Population, 2021 - Counts - Total     61761.0
21        M5V  2021A0011M5V - Population, 2021 - Counts - Total     59912.0
42        M9V  2021A0011M9V - Population, 2021 - Counts - Total     53878.0
..        ...                                               ...         ...
57        M3K  2021A0011M3K - Population, 2021 - Counts - Total      7865.0
50        M2P  2021A0011M2P - Population, 2021 - Counts - Total      7546.0
17        M5H  2021A0011M5H - Population, 2021 - Counts - Total      3248.0
14        M5C  2021A0011M5C - Population, 2021 - Counts - Total      3149.0
68        M7A  2021A0011M7A - Population, 2021 - Counts - Total         5.0

[97 rows x 3 columns]

In [135]:

#  dataframe to store the results
avg_income_by_postal = pd.DataFrame(columns=["Postalcode", "Title", "Avg Income"])


# Loop through the postal codes
for i in postal_codes:
    url = "https://www12.statcan.gc.ca/census-recensement/2021/dp-pd/prof/details/page.cfm?Lang=E"
    params = {
        'SearchText': i,
        'DGUIDlist': '2021A0011'+i
    }

    # this part switches up the postal code parameter in the url
    url_parts = list(urlparse(url))
    query = dict(parse_qsl(url_parts[4]))
    query.update(params)
    
    url_parts[4] = urlencode(query)
    query_url = urlunparse(url_parts)
    
    try:
        # Open the URL and parse the HTML content
        html = urllib.request.urlopen(query_url)
        html_to_parse = BeautifulSoup(html, "html.parser")
        
        # Find all tables on the page
        tables = html_to_parse.find_all("table")
        
        # Check if any tables were found
        if len(tables) > 0:
            print(f"Number of tables found: {len(tables)}")
            title = f"2021A0011{i} - Average after-tax income in 2020 among recipients ($) - Counts - Total"
            
            # Find the relevant <td> with the title
            td = tables[0].find(attrs={"title": title})
            
            if td:
                avg_after_tax_income = float(td.text.replace(",", ""))  # Convert population to a number
                print(f"Postalcode: {i}, Average after tax income: {avg_after_tax_income}")
                avg_income_by_postal.loc[len(avg_income_by_postal.index)] = [i, title, avg_after_tax_income]
            else:
                print(f"Title not found for postal code: {i}")
        else:
            print(f"No tables found for postal code: {i}")
    
    except Exception as e:
        print(f"Error processing postal code {i}: {e}")

# Display the dataframe
print(avg_income_by_postal)

Number of tables found: 1
Postalcode: M4N, Average after tax income: 129000.0
Number of tables found: 1
Postalcode: M4P, Average after tax income: 54950.0
Number of tables found: 1
Postalcode: M4R, Average after tax income: 85200.0
Number of tables found: 1
Postalcode: M4S, Average after tax income: 61050.0
Number of tables found: 1
Postalcode: M4T, Average after tax income: 105100.0
Number of tables found: 1
Postalcode: M4V, Average after tax income: 106200.0
Number of tables found: 1
Postalcode: M5N, Average after tax income: 81200.0
Number of tables found: 1
Postalcode: M5P, Average after tax income: 84700.0
Number of tables found: 1
Postalcode: M5R, Average after tax income: 85900.0
Number of tables found: 1
Postalcode: M4W, Average after tax income: 115500.0
Number of tables found: 1
Postalcode: M4X, Average after tax income: 41480.0
Number of tables found: 1
Postalcode: M4Y, Average after tax income: 47440.0
Number of tables found: 1
Postalcode: M5A, Average after tax income: 51550.0
Number of tables found: 1
Postalcode: M5B, Average after tax income: 44800.0
Number of tables found: 1
Postalcode: M5C, Average after tax income: 60450.0
Number of tables found: 1
Postalcode: M5E, Average after tax income: 70300.0
Number of tables found: 1
Postalcode: M5G, Average after tax income: 48360.0
Number of tables found: 1
Postalcode: M5H, Average after tax income: 73900.0
Number of tables found: 1
Postalcode: M5J, Average after tax income: 63650.0
No tables found for postal code: M5K
No tables found for postal code: M5L
Number of tables found: 1
Postalcode: M5S, Average after tax income: 55600.0
Number of tables found: 1
Postalcode: M5T, Average after tax income: 42280.0
Number of tables found: 1
Postalcode: M5V, Average after tax income: 62700.0
No tables found for postal code: M5X
Number of tables found: 1
Postalcode: M6G, Average after tax income: 55700.0
No tables found for postal code: M5W
Number of tables found: 1
Postalcode: M4E, Average after tax income: 69200.0
Number of tables found: 1
Postalcode: M4K, Average after tax income: 57700.0
Number of tables found: 1
Postalcode: M4L, Average after tax income: 60050.0
Number of tables found: 1
Postalcode: M4M, Average after tax income: 57650.0
No tables found for postal code: M7Y
Number of tables found: 1
Postalcode: M4B, Average after tax income: 45120.0
Number of tables found: 1
Postalcode: M4C, Average after tax income: 46040.0
Number of tables found: 1
Postalcode: M4G, Average after tax income: 87500.0
Number of tables found: 1
Postalcode: M4H, Average after tax income: 31240.0
Number of tables found: 1
Postalcode: M4J, Average after tax income: 52950.0
Number of tables found: 1
Postalcode: M8V, Average after tax income: 51550.0
Number of tables found: 1
Postalcode: M8W, Average after tax income: 49000.0
Number of tables found: 1
Postalcode: M8X, Average after tax income: 93900.0
Number of tables found: 1
Postalcode: M8Y, Average after tax income: 56300.0
Number of tables found: 1
Postalcode: M8Z, Average after tax income: 57800.0
Number of tables found: 1
Postalcode: M9A, Average after tax income: 61050.0
Number of tables found: 1
Postalcode: M9B, Average after tax income: 54500.0
Number of tables found: 1
Postalcode: M9C, Average after tax income: 47720.0
Number of tables found: 1
Postalcode: M9P, Average after tax income: 48680.0
Number of tables found: 1
Postalcode: M9R, Average after tax income: 40400.0
Number of tables found: 1
Postalcode: M9V, Average after tax income: 33040.0
Number of tables found: 1
Postalcode: M9W, Average after tax income: 36920.0
No tables found for postal code: M7R
Number of tables found: 1
Postalcode: M2H, Average after tax income: 41040.0
Number of tables found: 1
Postalcode: M2J, Average after tax income: 40480.0
Number of tables found: 1
Postalcode: M2K, Average after tax income: 47200.0
Number of tables found: 1
Postalcode: M2L, Average after tax income: 81400.0
Number of tables found: 1
Postalcode: M2M, Average after tax income: 41080.0
Number of tables found: 1
Postalcode: M2N, Average after tax income: 47560.0
Number of tables found: 1
Postalcode: M2P, Average after tax income: 72700.0
Number of tables found: 1
Postalcode: M2R, Average after tax income: 38680.0
Number of tables found: 1
Postalcode: M3A, Average after tax income: 42880.0
Number of tables found: 1
Postalcode: M3B, Average after tax income: 74600.0
Number of tables found: 1
Postalcode: M3C, Average after tax income: 40400.0
Number of tables found: 1
Postalcode: M3H, Average after tax income: 49080.0
Number of tables found: 1
Postalcode: M3J, Average after tax income: 34560.0
Number of tables found: 1
Postalcode: M3K, Average after tax income: 41960.0
Number of tables found: 1
Postalcode: M3L, Average after tax income: 34720.0
Number of tables found: 1
Postalcode: M3M, Average after tax income: 36560.0
Number of tables found: 1
Postalcode: M3N, Average after tax income: 31240.0
Number of tables found: 1
Postalcode: M4A, Average after tax income: 39520.0
Number of tables found: 1
Postalcode: M5M, Average after tax income: 85700.0
Number of tables found: 1
Postalcode: M6A, Average after tax income: 43000.0
Number of tables found: 1
Postalcode: M6B, Average after tax income: 48880.0
Number of tables found: 1
Postalcode: M6L, Average after tax income: 38080.0
Number of tables found: 1
Postalcode: M9L, Average after tax income: 34240.0
Number of tables found: 1
Postalcode: M9M, Average after tax income: 35960.0
Number of tables found: 1
Error processing postal code M7A: could not convert string to float: 'x'
Number of tables found: 1
Postalcode: M1B, Average after tax income: 35800.0
Number of tables found: 1
Postalcode: M1C, Average after tax income: 47960.0
Number of tables found: 1
Postalcode: M1E, Average after tax income: 38720.0
Number of tables found: 1
Postalcode: M1G, Average after tax income: 33840.0
Number of tables found: 1
Postalcode: M1H, Average after tax income: 36480.0
Number of tables found: 1
Postalcode: M1J, Average after tax income: 35360.0
Number of tables found: 1
Postalcode: M1K, Average after tax income: 35520.0
Number of tables found: 1
Postalcode: M1L, Average after tax income: 37960.0
Number of tables found: 1
Postalcode: M1M, Average after tax income: 42920.0
Number of tables found: 1
Postalcode: M1N, Average after tax income: 53000.0
Number of tables found: 1
Postalcode: M1P, Average after tax income: 35920.0
Number of tables found: 1
Postalcode: M1R, Average after tax income: 37720.0
Number of tables found: 1
Postalcode: M1S, Average after tax income: 35720.0
Number of tables found: 1
Postalcode: M1T, Average after tax income: 36520.0
Number of tables found: 1
Postalcode: M1V, Average after tax income: 32920.0
Number of tables found: 1
Postalcode: M1W, Average after tax income: 36320.0
Number of tables found: 1
Postalcode: M1X, Average after tax income: 36520.0
Number of tables found: 1
Postalcode: M6H, Average after tax income: 46280.0
Number of tables found: 1
Postalcode: M6J, Average after tax income: 55700.0
Number of tables found: 1
Postalcode: M6K, Average after tax income: 47520.0
Number of tables found: 1
Postalcode: M6P, Average after tax income: 53550.0
Number of tables found: 1
Postalcode: M6R, Average after tax income: 64200.0
Number of tables found: 1
Postalcode: M6S, Average after tax income: 65800.0
Number of tables found: 1
Postalcode: M6C, Average after tax income: 59800.0
Number of tables found: 1
Postalcode: M6E, Average after tax income: 40800.0
Number of tables found: 1
Postalcode: M6M, Average after tax income: 36680.0
Number of tables found: 1
Postalcode: M6N, Average after tax income: 38760.0
Number of tables found: 1
Postalcode: M9N, Average after tax income: 38320.0
   Postalcode                                              Title  Avg Income
0         M4N  2021A0011M4N - Average after-tax income in 202...    129000.0
1         M4P  2021A0011M4P - Average after-tax income in 202...     54950.0
2         M4R  2021A0011M4R - Average after-tax income in 202...     85200.0
3         M4S  2021A0011M4S - Average after-tax income in 202...     61050.0
4         M4T  2021A0011M4T - Average after-tax income in 202...    105100.0
..        ...                                                ...         ...
91        M6C  2021A0011M6C - Average after-tax income in 202...     59800.0
92        M6E  2021A0011M6E - Average after-tax income in 202...     40800.0
93        M6M  2021A0011M6M - Average after-tax income in 202...     36680.0
94        M6N  2021A0011M6N - Average after-tax income in 202...     38760.0
95        M9N  2021A0011M9N - Average after-tax income in 202...     38320.0

[96 rows x 3 columns]

In [136]:
display(avg_income_by_postal)

   Postalcode                                              Title  Avg Income
0         M4N  2021A0011M4N - Average after-tax income in 202...    129000.0
1         M4P  2021A0011M4P - Average after-tax income in 202...     54950.0
2         M4R  2021A0011M4R - Average after-tax income in 202...     85200.0
3         M4S  2021A0011M4S - Average after-tax income in 202...     61050.0
4         M4T  2021A0011M4T - Average after-tax income in 202...    105100.0
..        ...                                                ...         ...
91        M6C  2021A0011M6C - Average after-tax income in 202...     59800.0
92        M6E  2021A0011M6E - Average after-tax income in 202...     40800.0
93        M6M  2021A0011M6M - Average after-tax income in 202...     36680.0
94        M6N  2021A0011M6N - Average after-tax income in 202...     38760.0
95        M9N  2021A0011M9N - Average after-tax income in 202...     38320.0

[96 rows x 3 columns]

In [137]:
avg_income_by_postal.to_csv('avg_income_by_postal.csv', index=False)

In [138]:
avg_income_by_postal_sorted = avg_income_by_postal.sort_values(by="Avg Income", ascending=False)

display(avg_income_by_postal_sorted)

   Postalcode                                              Title  Avg Income
0         M4N  2021A0011M4N - Average after-tax income in 202...    129000.0
9         M4W  2021A0011M4W - Average after-tax income in 202...    115500.0
5         M4V  2021A0011M4V - Average after-tax income in 202...    106200.0
4         M4T  2021A0011M4T - Average after-tax income in 202...    105100.0
34        M8X  2021A0011M8X - Average after-tax income in 202...     93900.0
..        ...                                                ...         ...
71        M1G  2021A0011M1G - Average after-tax income in 202...     33840.0
42        M9V  2021A0011M9V - Average after-tax income in 202...     33040.0
82        M1V  2021A0011M1V - Average after-tax income in 202...     32920.0
60        M3N  2021A0011M3N - Average after-tax income in 202...     31240.0
30        M4H  2021A0011M4H - Average after-tax income in 202...     31240.0

[96 rows x 3 columns]

In [139]:

avg_income_by_postal = avg_income_by_postal.drop(columns=["Title"], errors="ignore")
population_by_postal = population_by_postal.drop(columns=["Title"], errors="ignore")

In [140]:
combined_df = pd.merge(avg_income_by_postal, population_by_postal, on="Postalcode")

# Now merge the combined DataFrame with toronto_DF on "Postalcode"
final_combined_df = pd.merge(combined_df, toronto_DF, on="Postalcode", how="left")  # Use how="left" to keep all rows from combined_df

# Sort the final combined DataFrame by both "Avg Income" and "Population" in descending order
final_combined_sorted = final_combined_df.sort_values(by=["Avg Income", "Population"], ascending=False)

# Display the top row which has the highest values for both
print(final_combined_sorted.head(1))  # This will show the postal code with the highest income and population

  Postalcode  Avg Income  Population          Borough  Neighbourhood  \
0        M4N    129000.0     16058.0  Central Toronto  Lawrence Park

   Latitude  Longitude
0  43.72802  -79.38879

In [141]:
final_combined_sorted.head(20)

,Postalcode,Avg Income,Population,Borough,Neighbourhood,Latitude,Longitude
0,M4N,129000.0,16058.0,Central Toronto,Lawrence Park,43.728020,-79.388790
9,M4W,115500.0,15296.0,Downtown Toronto,Rosedale,43.679563,-79.377529
5,M4V,106200.0,19273.0,Central Toronto,"Summerhill West, Rathnelly, South Hill, Forest...",43.686412,-79.400049
4,M4T,105100.0,10332.0,Central Toronto,"Moore Park, Summerhill East",43.689574,-79.383160
34,M8X,93900.0,10624.0,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
29,M4G,87500.0,19598.0,East York,Leaside,43.709060,-79.363452
8,M5R,85900.0,26197.0,Central Toronto,"The Annex, North Midtown, Yorkville",43.672710,-79.405678
62,M5M,85700.0,25495.0,North York,"Bedford Park, Lawrence Manor East",43.733283,-79.419750
2,M4R,85200.0,11909.0,Central Toronto,North Toronto West,43.715383,-79.405678
7,M5P,84700.0,19791.0,Central Toronto,Forest Hill North & West,43.696948,-79.411307
47,M2L,81400.0,11274.0,North York,"York Mills, Silver Hills",43.757490,-79.374714
6,M5N,81200.0,16154.0,Central Toronto,Roselawn,43.711695,-79.416936
53,M3B,74600.0,12880.0,North York,Don Mills) Nort,43.745906,-79.352188
17,M5H,73900.0,3248.0,Downtown Toronto,"Richmond, Adelaide, King",43.650571,-79.384568
50,M2P,72700.0,7546.0,North York,York Mills West,43.752758,-79.400049
15,M5E,70300.0,11779.0,Downtown Toronto,Berczy Park,43.644771,-79.373306
23,M4E,69200.0,25473.0,East Toronto,The Beaches,43.676357,-79.293031
90,M6S,65800.0,34029.0,West Toronto,"Runnymede, Swansea",43.651571,-79.484450
89,M6R,64200.0,19349.0,West Toronto,"Parkdale, Roncesvalles",43.648960,-79.456325
18,M5J,63650.0,16879.0,Downtown Toronto,"Harbourfront East, Union Station, Toronto Islands",43.640816,-79.381752

In [142]:
competitors = pd.read_csv('num_of_competitors.csv')
display(competitors)

                        Neighbourhood  Venue
0      University of Toronto, Harbord     20
1         St. James Town, Cabbagetown     19
2            Garden District, Ryerson     19
3                Church and Wellesley     18
4                  Central Bay Street     18
..                                ...    ...
60   Lawrence Manor, Lawrence Heights      1
61                  Hillcrest Village      1
62  Guildwood, Morningside, West Hill      1
63       Downsview) East (CFB Toronto      1
64           York Mills, Silver Hills      1

[65 rows x 2 columns]

In [143]:
final_combined_sorted = pd.merge(final_combined_sorted, competitors, on="Neighbourhood", how="left")

In [144]:
display(final_combined_sorted)

,Postalcode,Avg Income,Population,Borough,Neighbourhood,Latitude,Longitude,Venue
0,M4N,129000.0,16058.0,Central Toronto,Lawrence Park,43.728020,-79.388790,5.0
1,M4W,115500.0,15296.0,Downtown Toronto,Rosedale,43.679563,-79.377529,15.0
2,M4V,106200.0,19273.0,Central Toronto,"Summerhill West, Rathnelly, South Hill, Forest...",43.686412,-79.400049,17.0
3,M4T,105100.0,10332.0,Central Toronto,"Moore Park, Summerhill East",43.689574,-79.383160,17.0
4,M8X,93900.0,10624.0,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944,2.0
...,...,...,...,...,...,...,...,...
91,M1G,33840.0,30894.0,Scarborough,Woburn,43.770992,-79.216917,1.0
92,M9V,33040.0,53878.0,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437,NaN
93,M1V,32920.0,50825.0,Scarborough,"Milliken, Agincourt North, Steeles East, L'Amo...",43.815252,-79.284577,NaN
94,M3N,31240.0,40846.0,North York,Downsview) Northwes,43.761631,-79.520999,NaN
95,M4H,31240.0,18698.0,East York,Thorncliffe Park,43.705369,-79.349372,4.0

In [145]:
final_combined_sorted.head(20)

,Postalcode,Avg Income,Population,Borough,Neighbourhood,Latitude,Longitude,Venue
0,M4N,129000.0,16058.0,Central Toronto,Lawrence Park,43.728020,-79.388790,5.0
1,M4W,115500.0,15296.0,Downtown Toronto,Rosedale,43.679563,-79.377529,15.0
2,M4V,106200.0,19273.0,Central Toronto,"Summerhill West, Rathnelly, South Hill, Forest...",43.686412,-79.400049,17.0
3,M4T,105100.0,10332.0,Central Toronto,"Moore Park, Summerhill East",43.689574,-79.383160,17.0
4,M8X,93900.0,10624.0,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944,2.0
5,M4G,87500.0,19598.0,East York,Leaside,43.709060,-79.363452,3.0
6,M5R,85900.0,26197.0,Central Toronto,"The Annex, North Midtown, Yorkville",43.672710,-79.405678,16.0
7,M5M,85700.0,25495.0,North York,"Bedford Park, Lawrence Manor East",43.733283,-79.419750,4.0
8,M4R,85200.0,11909.0,Central Toronto,North Toronto West,43.715383,-79.405678,9.0
9,M5P,84700.0,19791.0,Central Toronto,Forest Hill North & West,43.696948,-79.411307,8.0
10,M2L,81400.0,11274.0,North York,"York Mills, Silver Hills",43.757490,-79.374714,1.0
11,M5N,81200.0,16154.0,Central Toronto,Roselawn,43.711695,-79.416936,9.0
12,M3B,74600.0,12880.0,North York,Don Mills) Nort,43.745906,-79.352188,NaN
13,M5H,73900.0,3248.0,Downtown Toronto,"Richmond, Adelaide, King",43.650571,-79.384568,13.0
14,M2P,72700.0,7546.0,North York,York Mills West,43.752758,-79.400049,2.0
15,M5E,70300.0,11779.0,Downtown Toronto,Berczy Park,43.644771,-79.373306,9.0
16,M4E,69200.0,25473.0,East Toronto,The Beaches,43.676357,-79.293031,2.0
17,M6S,65800.0,34029.0,West Toronto,"Runnymede, Swansea",43.651571,-79.484450,4.0
18,M6R,64200.0,19349.0,West Toronto,"Parkdale, Roncesvalles",43.648960,-79.456325,5.0
19,M5J,63650.0,16879.0,Downtown Toronto,"Harbourfront East, Union Station, Toronto Islands",43.640816,-79.381752,6.0

In [146]:

#  dataframe to store the results
high_education = pd.DataFrame(columns=["Postalcode", "Title", "High Education Count"])


# Loop through the postal codes
for i in postal_codes:
    url = "https://www12.statcan.gc.ca/census-recensement/2021/dp-pd/prof/details/page.cfm?Lang=E"
    params = {
        'SearchText': i,
        'DGUIDlist': '2021A0011'+i
    }

    # this part switches up the postal code parameter in the url
    url_parts = list(urlparse(url))
    query = dict(parse_qsl(url_parts[4]))
    query.update(params)
    
    url_parts[4] = urlencode(query)
    query_url = urlunparse(url_parts)
    
    try:
        # Open the URL and parse the HTML content
        html = urllib.request.urlopen(query_url)
        html_to_parse = BeautifulSoup(html, "html.parser")
        
        # Find all tables on the page
        tables = html_to_parse.find_all("table")
        
        # Check if any tables were found
        if len(tables) > 0:
            print(f"Number of tables found: {len(tables)}")
            title = f"2021A0011{i} - Bachelor's degree or higher - Counts - Total"
            
            # Find the relevant <td> with the title
            td = tables[0].find(attrs={"title": title})
            
            if td:
                high_edu = float(td.text.replace(",", ""))  # Convert population to a number
                print(f"Postalcode: {i}, High Education count: {high_edu}")
                high_education.loc[len(high_education.index)] = [i, title, high_edu]
            else:
                print(f"Title not found for postal code: {i}")
        else:
            print(f"No tables found for postal code: {i}")
    
    except Exception as e:
        print(f"Error processing postal code {i}: {e}")

# Display the dataframe
print(high_education)

Number of tables found: 1
Postalcode: M4N, High Education count: 8035.0
Number of tables found: 1
Postalcode: M4P, High Education count: 13115.0
Number of tables found: 1
Postalcode: M4R, High Education count: 6335.0
Number of tables found: 1
Postalcode: M4S, High Education count: 16940.0
Number of tables found: 1
Postalcode: M4T, High Education count: 5880.0
Number of tables found: 1
Postalcode: M4V, High Education count: 10760.0
Number of tables found: 1
Postalcode: M5N, High Education count: 7380.0
Number of tables found: 1
Postalcode: M5P, High Education count: 10595.0
Number of tables found: 1
Postalcode: M5R, High Education count: 14920.0
Number of tables found: 1
Postalcode: M4W, High Education count: 9360.0
Number of tables found: 1
Postalcode: M4X, High Education count: 7175.0
Number of tables found: 1
Postalcode: M4Y, High Education count: 20815.0
Number of tables found: 1
Postalcode: M5A, High Education count: 21690.0
Number of tables found: 1
Postalcode: M5B, High Education count: 9925.0
Number of tables found: 1
Postalcode: M5C, High Education count: 1770.0
Number of tables found: 1
Postalcode: M5E, High Education count: 8005.0
Number of tables found: 1
Postalcode: M5G, High Education count: 6220.0
Number of tables found: 1
Postalcode: M5H, High Education count: 2270.0
Number of tables found: 1
Postalcode: M5J, High Education count: 11410.0
No tables found for postal code: M5K
No tables found for postal code: M5L
Number of tables found: 1
Postalcode: M5S, High Education count: 9500.0
Number of tables found: 1
Postalcode: M5T, High Education count: 7275.0
Number of tables found: 1
Postalcode: M5V, High Education count: 39245.0
No tables found for postal code: M5X
Number of tables found: 1
Postalcode: M6G, High Education count: 13140.0
No tables found for postal code: M5W
Number of tables found: 1
Postalcode: M4E, High Education count: 11150.0
Number of tables found: 1
Postalcode: M4K, High Education count: 12900.0
Number of tables found: 1
Postalcode: M4L, High Education count: 12225.0
Number of tables found: 1
Postalcode: M4M, High Education count: 10395.0
No tables found for postal code: M7Y
Number of tables found: 1
Postalcode: M4B, High Education count: 4395.0
Number of tables found: 1
Postalcode: M4C, High Education count: 15735.0
Number of tables found: 1
Postalcode: M4G, High Education count: 9715.0
Number of tables found: 1
Postalcode: M4H, High Education count: 4280.0
Number of tables found: 1
Postalcode: M4J, High Education count: 12370.0
Number of tables found: 1
Postalcode: M8V, High Education count: 17070.0
Number of tables found: 1
Postalcode: M8W, High Education count: 6660.0
Number of tables found: 1
Postalcode: M8X, High Education count: 5475.0
Number of tables found: 1
Postalcode: M8Y, High Education count: 8435.0
Number of tables found: 1
Postalcode: M8Z, High Education count: 6870.0
Number of tables found: 1
Postalcode: M9A, High Education count: 14425.0
Number of tables found: 1
Postalcode: M9B, High Education count: 12120.0
Number of tables found: 1
Postalcode: M9C, High Education count: 11905.0
Number of tables found: 1
Postalcode: M9P, High Education count: 5210.0
Number of tables found: 1
Postalcode: M9R, High Education count: 7610.0
Number of tables found: 1
Postalcode: M9V, High Education count: 9715.0
Number of tables found: 1
Postalcode: M9W, High Education count: 8315.0
No tables found for postal code: M7R
Number of tables found: 1
Postalcode: M2H, High Education count: 9520.0
Number of tables found: 1
Postalcode: M2J, High Education count: 24985.0
Number of tables found: 1
Postalcode: M2K, High Education count: 13120.0
Number of tables found: 1
Postalcode: M2L, High Education count: 5250.0
Number of tables found: 1
Postalcode: M2M, High Education count: 13715.0
Number of tables found: 1
Postalcode: M2N, High Education count: 39350.0
Number of tables found: 1
Postalcode: M2P, High Education count: 3810.0
Number of tables found: 1
Postalcode: M2R, High Education count: 13725.0
Number of tables found: 1
Postalcode: M3A, High Education count: 10585.0
Number of tables found: 1
Postalcode: M3B, High Education count: 6135.0
Number of tables found: 1
Postalcode: M3C, High Education count: 12370.0
Number of tables found: 1
Postalcode: M3H, High Education count: 13965.0
Number of tables found: 1
Postalcode: M3J, High Education count: 6315.0
Number of tables found: 1
Postalcode: M3K, High Education count: 1965.0
Number of tables found: 1
Postalcode: M3L, High Education count: 2380.0
Number of tables found: 1
Postalcode: M3M, High Education count: 3975.0
Number of tables found: 1
Postalcode: M3N, High Education count: 3855.0
Number of tables found: 1
Postalcode: M4A, High Education count: 3545.0
Number of tables found: 1
Postalcode: M5M, High Education count: 12470.0
Number of tables found: 1
Postalcode: M6A, High Education count: 6430.0
Number of tables found: 1
Postalcode: M6B, High Education count: 8685.0
Number of tables found: 1
Postalcode: M6L, High Education count: 3120.0
Number of tables found: 1
Postalcode: M9L, High Education count: 1960.0
Number of tables found: 1
Postalcode: M9M, High Education count: 4210.0
Number of tables found: 1
Error processing postal code M7A: could not convert string to float: 'x'
Number of tables found: 1
Postalcode: M1B, High Education count: 14160.0
Number of tables found: 1
Postalcode: M1C, High Education count: 11150.0
Number of tables found: 1
Postalcode: M1E, High Education count: 11120.0
Number of tables found: 1
Postalcode: M1G, High Education count: 6770.0
Number of tables found: 1
Postalcode: M1H, High Education count: 6895.0
Number of tables found: 1
Postalcode: M1J, High Education count: 7690.0
Number of tables found: 1
Postalcode: M1K, High Education count: 10665.0
Number of tables found: 1
Postalcode: M1L, High Education count: 9660.0
Number of tables found: 1
Postalcode: M1M, High Education count: 6700.0
Number of tables found: 1
Postalcode: M1N, High Education count: 6805.0
Number of tables found: 1
Postalcode: M1P, High Education count: 11585.0
Number of tables found: 1
Postalcode: M1R, High Education count: 7100.0
Number of tables found: 1
Postalcode: M1S, High Education count: 10320.0
Number of tables found: 1
Postalcode: M1T, High Education count: 9635.0
Number of tables found: 1
Postalcode: M1V, High Education count: 10700.0
Number of tables found: 1
Postalcode: M1W, High Education count: 13180.0
Number of tables found: 1
Postalcode: M1X, High Education count: 3145.0
Number of tables found: 1
Postalcode: M6H, High Education count: 15515.0
Number of tables found: 1
Postalcode: M6J, High Education count: 14095.0
Number of tables found: 1
Postalcode: M6K, High Education count: 17215.0
Number of tables found: 1
Postalcode: M6P, High Education count: 18145.0
Number of tables found: 1
Postalcode: M6R, High Education count: 9135.0
Number of tables found: 1
Postalcode: M6S, High Education count: 15230.0
Number of tables found: 1
Postalcode: M6C, High Education count: 10060.0
Number of tables found: 1
Postalcode: M6E, High Education count: 8710.0
Number of tables found: 1
Postalcode: M6M, High Education count: 5825.0
Number of tables found: 1
Postalcode: M6N, High Education count: 7190.0
Number of tables found: 1
Postalcode: M9N, High Education count: 4015.0
   Postalcode                                              Title  \
0         M4N  2021A0011M4N - Bachelor's degree or higher - C...
1         M4P  2021A0011M4P - Bachelor's degree or higher - C...
2         M4R  2021A0011M4R - Bachelor's degree or higher - C...
3         M4S  2021A0011M4S - Bachelor's degree or higher - C...
4         M4T  2021A0011M4T - Bachelor's degree or higher - C...
..        ...                                                ...
91        M6C  2021A0011M6C - Bachelor's degree or higher - C...
92        M6E  2021A0011M6E - Bachelor's degree or higher - C...
93        M6M  2021A0011M6M - Bachelor's degree or higher - C...
94        M6N  2021A0011M6N - Bachelor's degree or higher - C...
95        M9N  2021A0011M9N - Bachelor's degree or higher - C...

    High Education Count
0                 8035.0
1                13115.0
2                 6335.0
3                16940.0
4                 5880.0
..                   ...
91               10060.0
92                8710.0
93                5825.0
94                7190.0
95                4015.0

[96 rows x 3 columns]

In [147]:
display(high_education)

,Postalcode,Title,High Education Count
0,M4N,2021A0011M4N - Bachelor's degree or higher - C...,8035.0
1,M4P,2021A0011M4P - Bachelor's degree or higher - C...,13115.0
2,M4R,2021A0011M4R - Bachelor's degree or higher - C...,6335.0
3,M4S,2021A0011M4S - Bachelor's degree or higher - C...,16940.0
4,M4T,2021A0011M4T - Bachelor's degree or higher - C...,5880.0
...,...,...,...
91,M6C,2021A0011M6C - Bachelor's degree or higher - C...,10060.0
92,M6E,2021A0011M6E - Bachelor's degree or higher - C...,8710.0
93,M6M,2021A0011M6M - Bachelor's degree or higher - C...,5825.0
94,M6N,2021A0011M6N - Bachelor's degree or higher - C...,7190.0
95,M9N,2021A0011M9N - Bachelor's degree or higher - C...,4015.0

In [148]:
high_education = high_education.drop(columns=["Title"], errors="ignore")

In [149]:

#  dataframe to store the results
fitness = pd.DataFrame(columns=["Postalcode", "Title", "Fitness workforce"])


# Loop through the postal codes
for i in postal_codes:
    url = "https://www12.statcan.gc.ca/census-recensement/2021/dp-pd/prof/details/page.cfm?Lang=E"
    params = {
        'SearchText': i,
        'DGUIDlist': '2021A0011'+i
    }

    # this part switches up the postal code parameter in the url
    url_parts = list(urlparse(url))
    query = dict(parse_qsl(url_parts[4]))
    query.update(params)
    
    url_parts[4] = urlencode(query)
    query_url = urlunparse(url_parts)
    
    try:
        # Open the URL and parse the HTML content
        html = urllib.request.urlopen(query_url)
        html_to_parse = BeautifulSoup(html, "html.parser")
        
        # Find all tables on the page
        tables = html_to_parse.find_all("table")
        
        # Check if any tables were found
        if len(tables) > 0:
            print(f"Number of tables found: {len(tables)}")
            title = f"2021A0011{i} - 31. Parks, recreation, leisure, fitness, and kinesiology - Counts - Total"
            
            # Find the relevant <td> with the title
            td = tables[0].find(attrs={"title": title})
            
            if td:
                fitnesswf = float(td.text.replace(",", ""))  # Convert population to a number
                print(f"Postalcode: {i}, Fitness Workforce count: {fitnesswf}")
                fitness.loc[len(fitness.index)] = [i, title, fitnesswf]
            else:
                print(f"Title not found for postal code: {i}")
        else:
            print(f"No tables found for postal code: {i}")
    
    except Exception as e:
        print(f"Error processing postal code {i}: {e}")

# Display the dataframe
display(fitness)

Number of tables found: 1
Postalcode: M4N, Fitness Workforce count: 100.0
Number of tables found: 1
Postalcode: M4P, Fitness Workforce count: 220.0
Number of tables found: 1
Postalcode: M4R, Fitness Workforce count: 60.0
Number of tables found: 1
Postalcode: M4S, Fitness Workforce count: 210.0
Number of tables found: 1
Postalcode: M4T, Fitness Workforce count: 65.0
Number of tables found: 1
Postalcode: M4V, Fitness Workforce count: 100.0
Number of tables found: 1
Postalcode: M5N, Fitness Workforce count: 90.0
Number of tables found: 1
Postalcode: M5P, Fitness Workforce count: 185.0
Number of tables found: 1
Postalcode: M5R, Fitness Workforce count: 165.0
Number of tables found: 1
Postalcode: M4W, Fitness Workforce count: 65.0
Number of tables found: 1
Postalcode: M4X, Fitness Workforce count: 75.0
Number of tables found: 1
Postalcode: M4Y, Fitness Workforce count: 180.0
Number of tables found: 1
Postalcode: M5A, Fitness Workforce count: 355.0
Number of tables found: 1
Postalcode: M5B, Fitness Workforce count: 100.0
Number of tables found: 1
Postalcode: M5C, Fitness Workforce count: 20.0
Number of tables found: 1
Postalcode: M5E, Fitness Workforce count: 55.0
Number of tables found: 1
Postalcode: M5G, Fitness Workforce count: 25.0
Number of tables found: 1
Postalcode: M5H, Fitness Workforce count: 10.0
Number of tables found: 1
Postalcode: M5J, Fitness Workforce count: 135.0
No tables found for postal code: M5K
No tables found for postal code: M5L
Number of tables found: 1
Postalcode: M5S, Fitness Workforce count: 55.0
Number of tables found: 1
Postalcode: M5T, Fitness Workforce count: 80.0
Number of tables found: 1
Postalcode: M5V, Fitness Workforce count: 540.0
No tables found for postal code: M5X
Number of tables found: 1
Postalcode: M6G, Fitness Workforce count: 165.0
No tables found for postal code: M5W
Number of tables found: 1
Postalcode: M4E, Fitness Workforce count: 255.0
Number of tables found: 1
Postalcode: M4K, Fitness Workforce count: 165.0
Number of tables found: 1
Postalcode: M4L, Fitness Workforce count: 260.0
Number of tables found: 1
Postalcode: M4M, Fitness Workforce count: 170.0
No tables found for postal code: M7Y
Number of tables found: 1
Postalcode: M4B, Fitness Workforce count: 95.0
Number of tables found: 1
Postalcode: M4C, Fitness Workforce count: 250.0
Number of tables found: 1
Postalcode: M4G, Fitness Workforce count: 150.0
Number of tables found: 1
Postalcode: M4H, Fitness Workforce count: 40.0
Number of tables found: 1
Postalcode: M4J, Fitness Workforce count: 210.0
Number of tables found: 1
Postalcode: M8V, Fitness Workforce count: 360.0
Number of tables found: 1
Postalcode: M8W, Fitness Workforce count: 140.0
Number of tables found: 1
Postalcode: M8X, Fitness Workforce count: 80.0
Number of tables found: 1
Postalcode: M8Y, Fitness Workforce count: 185.0
Number of tables found: 1
Postalcode: M8Z, Fitness Workforce count: 140.0
Number of tables found: 1
Postalcode: M9A, Fitness Workforce count: 235.0
Number of tables found: 1
Postalcode: M9B, Fitness Workforce count: 190.0
Number of tables found: 1
Postalcode: M9C, Fitness Workforce count: 285.0
Number of tables found: 1
Postalcode: M9P, Fitness Workforce count: 110.0
Number of tables found: 1
Postalcode: M9R, Fitness Workforce count: 155.0
Number of tables found: 1
Postalcode: M9V, Fitness Workforce count: 110.0
Number of tables found: 1
Postalcode: M9W, Fitness Workforce count: 155.0
No tables found for postal code: M7R
Number of tables found: 1
Postalcode: M2H, Fitness Workforce count: 105.0
Number of tables found: 1
Postalcode: M2J, Fitness Workforce count: 205.0
Number of tables found: 1
Postalcode: M2K, Fitness Workforce count: 120.0
Number of tables found: 1
Postalcode: M2L, Fitness Workforce count: 55.0
Number of tables found: 1
Postalcode: M2M, Fitness Workforce count: 110.0
Number of tables found: 1
Postalcode: M2N, Fitness Workforce count: 280.0
Number of tables found: 1
Postalcode: M2P, Fitness Workforce count: 20.0
Number of tables found: 1
Postalcode: M2R, Fitness Workforce count: 190.0
Number of tables found: 1
Postalcode: M3A, Fitness Workforce count: 180.0
Number of tables found: 1
Postalcode: M3B, Fitness Workforce count: 85.0
Number of tables found: 1
Postalcode: M3C, Fitness Workforce count: 140.0
Number of tables found: 1
Postalcode: M3H, Fitness Workforce count: 255.0
Number of tables found: 1
Postalcode: M3J, Fitness Workforce count: 100.0
Number of tables found: 1
Postalcode: M3K, Fitness Workforce count: 20.0
Number of tables found: 1
Postalcode: M3L, Fitness Workforce count: 60.0
Number of tables found: 1
Postalcode: M3M, Fitness Workforce count: 95.0
Number of tables found: 1
Postalcode: M3N, Fitness Workforce count: 80.0
Number of tables found: 1
Postalcode: M4A, Fitness Workforce count: 55.0
Number of tables found: 1
Postalcode: M5M, Fitness Workforce count: 205.0
Number of tables found: 1
Postalcode: M6A, Fitness Workforce count: 75.0
Number of tables found: 1
Postalcode: M6B, Fitness Workforce count: 95.0
Number of tables found: 1
Postalcode: M6L, Fitness Workforce count: 50.0
Number of tables found: 1
Postalcode: M9L, Fitness Workforce count: 35.0
Number of tables found: 1
Postalcode: M9M, Fitness Workforce count: 75.0
Number of tables found: 1
Error processing postal code M7A: could not convert string to float: 'x'
Number of tables found: 1
Postalcode: M1B, Fitness Workforce count: 160.0
Number of tables found: 1
Postalcode: M1C, Fitness Workforce count: 210.0
Number of tables found: 1
Postalcode: M1E, Fitness Workforce count: 175.0
Number of tables found: 1
Postalcode: M1G, Fitness Workforce count: 70.0
Number of tables found: 1
Postalcode: M1H, Fitness Workforce count: 50.0
Number of tables found: 1
Postalcode: M1J, Fitness Workforce count: 40.0
Number of tables found: 1
Postalcode: M1K, Fitness Workforce count: 105.0
Number of tables found: 1
Postalcode: M1L, Fitness Workforce count: 165.0
Number of tables found: 1
Postalcode: M1M, Fitness Workforce count: 120.0
Number of tables found: 1
Postalcode: M1N, Fitness Workforce count: 185.0
Number of tables found: 1
Postalcode: M1P, Fitness Workforce count: 95.0
Number of tables found: 1
Postalcode: M1R, Fitness Workforce count: 105.0
Number of tables found: 1
Postalcode: M1S, Fitness Workforce count: 100.0
Number of tables found: 1
Postalcode: M1T, Fitness Workforce count: 125.0
Number of tables found: 1
Postalcode: M1V, Fitness Workforce count: 75.0
Number of tables found: 1
Postalcode: M1W, Fitness Workforce count: 120.0
Number of tables found: 1
Postalcode: M1X, Fitness Workforce count: 20.0
Number of tables found: 1
Postalcode: M6H, Fitness Workforce count: 225.0
Number of tables found: 1
Postalcode: M6J, Fitness Workforce count: 135.0
Number of tables found: 1
Postalcode: M6K, Fitness Workforce count: 260.0
Number of tables found: 1
Postalcode: M6P, Fitness Workforce count: 195.0
Number of tables found: 1
Postalcode: M6R, Fitness Workforce count: 95.0
Number of tables found: 1
Postalcode: M6S, Fitness Workforce count: 195.0
Number of tables found: 1
Postalcode: M6C, Fitness Workforce count: 155.0
Number of tables found: 1
Postalcode: M6E, Fitness Workforce count: 165.0
Number of tables found: 1
Postalcode: M6M, Fitness Workforce count: 120.0
Number of tables found: 1
Postalcode: M6N, Fitness Workforce count: 130.0
Number of tables found: 1
Postalcode: M9N, Fitness Workforce count: 100.0

,Postalcode,Title,Fitness workforce
0,M4N,"2021A0011M4N - 31. Parks, recreation, leisure,...",100.0
1,M4P,"2021A0011M4P - 31. Parks, recreation, leisure,...",220.0
2,M4R,"2021A0011M4R - 31. Parks, recreation, leisure,...",60.0
3,M4S,"2021A0011M4S - 31. Parks, recreation, leisure,...",210.0
4,M4T,"2021A0011M4T - 31. Parks, recreation, leisure,...",65.0
...,...,...,...
91,M6C,"2021A0011M6C - 31. Parks, recreation, leisure,...",155.0
92,M6E,"2021A0011M6E - 31. Parks, recreation, leisure,...",165.0
93,M6M,"2021A0011M6M - 31. Parks, recreation, leisure,...",120.0
94,M6N,"2021A0011M6N - 31. Parks, recreation, leisure,...",130.0
95,M9N,"2021A0011M9N - 31. Parks, recreation, leisure,...",100.0

In [150]:
display(fitness)

,Postalcode,Title,Fitness workforce
0,M4N,"2021A0011M4N - 31. Parks, recreation, leisure,...",100.0
1,M4P,"2021A0011M4P - 31. Parks, recreation, leisure,...",220.0
2,M4R,"2021A0011M4R - 31. Parks, recreation, leisure,...",60.0
3,M4S,"2021A0011M4S - 31. Parks, recreation, leisure,...",210.0
4,M4T,"2021A0011M4T - 31. Parks, recreation, leisure,...",65.0
...,...,...,...
91,M6C,"2021A0011M6C - 31. Parks, recreation, leisure,...",155.0
92,M6E,"2021A0011M6E - 31. Parks, recreation, leisure,...",165.0
93,M6M,"2021A0011M6M - 31. Parks, recreation, leisure,...",120.0
94,M6N,"2021A0011M6N - 31. Parks, recreation, leisure,...",130.0
95,M9N,"2021A0011M9N - 31. Parks, recreation, leisure,...",100.0

In [151]:
fitness = fitness.drop(columns=["Title"], errors="ignore")

In [152]:
final_combined_sorted = pd.merge(final_combined_sorted, high_education, on="Postalcode", how="left")

In [153]:
final_combined_sorted = pd.merge(final_combined_sorted, fitness, on="Postalcode", how="left")

In [154]:
final_combined_sorted = final_combined_sorted.drop(columns=["Title"], errors="ignore")

In [156]:
final_combined_sorted.head(15)

,Postalcode,Avg Income,Population,Borough,Neighbourhood,Latitude,Longitude,Venue,High Education Count,Fitness workforce
0,M4N,129000.0,16058.0,Central Toronto,Lawrence Park,43.728020,-79.388790,5.0,8035.0,100.0
1,M4W,115500.0,15296.0,Downtown Toronto,Rosedale,43.679563,-79.377529,15.0,9360.0,65.0
2,M4V,106200.0,19273.0,Central Toronto,"Summerhill West, Rathnelly, South Hill, Forest...",43.686412,-79.400049,17.0,10760.0,100.0
3,M4T,105100.0,10332.0,Central Toronto,"Moore Park, Summerhill East",43.689574,-79.383160,17.0,5880.0,65.0
4,M8X,93900.0,10624.0,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944,2.0,5475.0,80.0
5,M4G,87500.0,19598.0,East York,Leaside,43.709060,-79.363452,3.0,9715.0,150.0
6,M5R,85900.0,26197.0,Central Toronto,"The Annex, North Midtown, Yorkville",43.672710,-79.405678,16.0,14920.0,165.0
7,M5M,85700.0,25495.0,North York,"Bedford Park, Lawrence Manor East",43.733283,-79.419750,4.0,12470.0,205.0
8,M4R,85200.0,11909.0,Central Toronto,North Toronto West,43.715383,-79.405678,9.0,6335.0,60.0
9,M5P,84700.0,19791.0,Central Toronto,Forest Hill North & West,43.696948,-79.411307,8.0,10595.0,185.0
10,M2L,81400.0,11274.0,North York,"York Mills, Silver Hills",43.757490,-79.374714,1.0,5250.0,55.0
11,M5N,81200.0,16154.0,Central Toronto,Roselawn,43.711695,-79.416936,9.0,7380.0,90.0
12,M3B,74600.0,12880.0,North York,Don Mills) Nort,43.745906,-79.352188,NaN,6135.0,85.0
13,M5H,73900.0,3248.0,Downtown Toronto,"Richmond, Adelaide, King",43.650571,-79.384568,13.0,2270.0,10.0
14,M2P,72700.0,7546.0,North York,York Mills West,43.752758,-79.400049,2.0,3810.0,20.0

In [158]:
final_combined_sorted = final_combined_sorted.to_csv('torontofinaldf.csv', index=False)